@import "./styles/Font.css";

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: pixel, monospace;
}

@keyframes attack-northwards {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-7px)}
    100% {transform: translateY(0px)}
}

@keyframes attack-southwards {
    0% {transform: translateY(0px)}
    50% {transform: translateY(+7px)}
    100% {transform: translateY(0px)}
}

@keyframes attack-westwards {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-7px)}
    100% {transform: translateX(0px)}
}

@keyframes attack-eastwards {
    0% {transform: translateX(0px)}
    50% {transform: translateX(+7px)}
    100% {transform: translateX(0px)}
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

#frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    position: fixed;

    overflow: hidden;
    background-color: #222;

    width: 126px;
    height: 126px;

    transform-origin: center;
    // transform: scale(100vh);
}

#hud {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    position: absolute;

    padding: 6px;
}

#hearts {
    float: right;
}

.heart {
    width: 0.8em;
    height: 0.8em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: 2px;
    display: inline-block;
}

#bloodscreen {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-color: #A52F22;

    animation-name: fade-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
