@import "./styles/Font.css";

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: pixel, monospace;
}

@keyframes attack-northwards {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-7px)}
    100% {transform: translateY(0px)}
}

@keyframes attack-southwards {
    0% {transform: translateY(0px)}
    50% {transform: translateY(+7px)}
    100% {transform: translateY(0px)}
}

@keyframes attack-westwards {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-7px)}
    100% {transform: translateX(0px)}
}

@keyframes attack-eastwards {
    0% {transform: translateX(0px)}
    50% {transform: translateX(+7px)}
    100% {transform: translateX(0px)}
}

#hud {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    position: absolute;

    padding: 4px;
}
