@import "./styles/Rainbow.scss";

@import "./styles/Font.scss";
@include font(pixel);

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: pixel, monospace;
}
